{% extends "base.html" %}
{% load static %}
{% block mainbody %}

<html>
<head>
    <style>
        td{
            border-style:groove;
            text-align:center;
        }
        .title1{
            font-size: 40px;
        }

    </style>
</head>
<body style="background-color:#FAFAD2;">

    <div style=" margin-left: 1%;">
        <p style="color: white" class="title1"><b>Most Popular:</b></p>
        {% for id,movie in movies.items %}
                <a href="/movies/{{ movie.id }}">
                    <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="200" height="300">
                </a>
        {% endfor %}
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

    {% load static %}
    <div class="onSale" style=" margin-left: 1%;">
        <p style="color: white" class="title1"><b>On Sale:</b></p>
        <table>
            <tr>
            {% for id,screening in screenings.items %}
                {%if screening.movie.salePrec > 0 %}
                <div style=" margin-left: 1%;">
                    <td>
                        <a href="/tickets/{{ id }}">
                            <img id="poster" class="img-rounded" src="{{ screening.movie.poster }}" width="200" height="300">
                        </a>
                            <p>{{screening.screenDate}}</p>
                            <p>Previous Price:<del>{{screening.price}}</del></p>
                            {% with t=screening.price|multiply:screening.movie.salePrec|division:100%}
                            <p>New Price:{{screening.price|sub:t}}</p>
                            {% endwith %}
                    </td>
                </div>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>
{% endblock %}