{% extends "base.html" %}
{% load static %}
{% block mainbody %}

<html>
<head>
    <style>
        .bg {
            border-style:groove;
            background: url("{% static "images/movie_detail_bg.jpg" %}") no-repeat 50% 50%;
            background-size: cover;
            background-attachment: fixed;
        }
        .movieDetails{
            text-align: center;
            color: black;
            margin: 0px auto;
            width: 650px;
        }
        .movieTitle{
            padding-bottom: 30px;
            font-size: 60px;
            color: black
        }
        .seatBox{
            border-style:groove;
        }
    </style>
</head>
<body>
<div class="bg">
    <div class="media">
        <div class="movieDetails">
            <h5 class="movieTitle">{{ name }}</h5>
            <table>
                {% for r in rows %}
                <tr>
                     <h1>{{ticketDict.r}}</h1>
                    {%csrf_token%}
                     <form role="form" action="/tickets/{{ screening.id }}" method="POST">
                    {% for s in seats %}
                    <td>
                        <div class="seatBox">
                        {% if s in ticketDict|get_item:r %}
                            {% with ticket=ticketDict|get_item:r|get_item:s %}
                            {% if not ticket.isTemp %}
                                <button type="submit" class="btn" value="" name="seat_{{r}}_{{s}}" onclick="seatChosen('{{r}}','{{r|add:1}}','{{s}}','{{s|add:1}}'
                                    ,'{{name}}','{{screening}}','{{screening.screenDate}}')">
                                    <img src="{% static "images/red_seat.png" %}" width="100" height="150"></img>
                                    <p style="color:red;">Taken</p>
                            </button>
                            {% elif request.user.id == ticket.user %}
                                    <img src="{% static "images/gray_seat.png" %}" width="100" height="150"></img>
                                    <p style="color:black;">Chosen</p>
                            {% else %}
                            <button type="submit" class="btn" value="" name="seat_{{r}}_{{s}}" onclick="seatChosen('{{r}}','{{r|add:1}}','{{s}}','{{s|add:1}}'
                                    ,'{{name}}','{{screening}}','{{screening.screenDate}}')">
                                    <img src="{% static "images/green_seat.png" %}" width="100" height="150"></img>
                                    <p style="color:blue;">{{r|add:1}},{{s|add:1}}</p>
                            </button>
                            {%endif%}
                            {% endwith %}
                        {% else %}
                            <button type="submit" class="btn" value="" name="seat_{{r}}_{{s}}" onclick="seatChosen('{{r}}','{{r|add:1}}','{{s}}','{{s|add:1}}'
                                    ,'{{name}}','{{screening}}','{{screening.screenDate}}')">
                                    <img src="{% static "images/green_seat.png" %}" width="100" height="150"></img>
                                    <p style="color:blue;">{{r|add:1}},{{s|add:1}}</p>
                            </button>
                        </div>
                        {%endif%}
                    </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                 </form>
            </table>
        </div>
    </div>
</div>

<script>
function seatChosen(r,row,s,seat,name,screening,date) {
    window.alert("New Ticket Has Been Added To Your Cart Successfully!\n\nDetails:\nMovie: "
        +name+"\nDate: "+date+"\nSeat: ("+row+","+seat+")")
}
</script>
</body>
</html>
{% endblock %}